/////////////// FUNCTIONS ///////////////////////

@function calc-height($iter, $const) {
  @return  $iter * $const;
}

@function calc-borders($iter, $const) {
  @return @iter * $const;
}


.navbar {
  width: 100%;
  height: 50px;
  background-color: $black;
}

@for $i from 1 through 5 {
  .navbar-#{$i} {
    width: 100%;
    height: calc-height($i, 25);
    background-color: white;
  }
}



// @for $i from 1 through 5 {
//   .navbar-#{$i} {
//     height: 25 * $i px;
//     background-color: blue;
//   }
// }

