/////////////// FUNCTIONS ///////////////////////

@function calc-size($iter, $const) {
  @return  $iter * $const * 1px;
}

@function calc-borders($iter, $const) {
  @return $iter * $const * 1px;
}

@function calc-font-size($iter, $const) {
  @return $iter * $const * 1em;
}


.navbar {
  width: 100%;
  height: $default_height_navbar;
  background-color: $black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-black {
  background-color: $black;
}

.navbar-gray {
  background-color: $light-black;
}

.navbar-blue-marine {
  background-color: $blue-marine;
}

@for $i from 1 through 5 {
  .navbar-#{$i} {
    width: 100%;
    height: calc-size($i, 25);
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo {
      width: calc-size($i, 20);
      height: calc-size($i, 20);
      background-image: url(images/logo.png);
      background-size: contain;
      background-position: center;
    }

    .navigation-items {
      width: 40%;
      display: flex;
      justify-content:space-around;
      align-items: center;
      ul {
        display: flex;
        justify-content:space-around;
        align-items: center;
        list-style: none;
        li {
          font-size: calc-font-size($i, 0.25);
        }
      }
      a {
        text-decoration: none;
        font-size: calc-font-size($i, 0.50);
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}



// @for $i from 1 through 5 {
//   .navbar-#{$i} {
//     height: 25 * $i px;
//     background-color: blue;
//   }
// }

