.navbar {
  width: 100%;
  height: 50px;
  background-color: $black;
}

.navbar-5 {
  width: 100%;
  height: 100px;
  background-color: $light-black;
}

// @for $i from 1 through 5 {
//   .navbar-#{$i} {
//     height: 25 * $i px;
//     background-color: blue;
//   }
// }
